name: Tests

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Init venv
        run: uv venv --python ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --group dev

      - name: Install taskiq
        run: uv pip install taskiq

      - name: Run tests
        run: uv run --group dev pytest
